.tickets-button {
    background-color: #820233;
    position: relative;
    top: -14px;
}

.simple-bar .menu li.tickets-button a {
    color: white;
    font-size: 12px;
    padding: 14px;
}
.speakers .row {
    margin-bottom: 16px;
}
.speakers .talk-info {
    min-height: 160px;
}

.speakers .talk-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.speakers .speaker-name {
    font-size: 14px;
}

.speakers .speaker-name a {
    text-decoration: underline;
    color: #820233;
}

.speakers .btn {
    bottom: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.speakers .coming-soon {
    padding: 36px 0;
}

.speakers .coming-soon p {
    font-size: 36px;
}

.modal-title {
    font-size: 28px;
    color: #333;
    line-height: 1.2;
    font-weight: bold;
}

.modal-body,
.modal-footer {
    font-size: 14px;
}

.modal-footer {
    text-align: left;
}

.modal-footer .speaker-name {
    font-size: 18px;
    font-weight: bold;
}

/* Sponsors */

.sponsors-title {
    margin-bottom: 16px;
}

.client-row {
    margin-bottom: 0;
}

.client-row .skyscanner {
    max-width: 100%;
    margin-top: 52.5px;
}

.client-row:last-child {
    margin-top: 32px;
}

.client-row .center-vertical {
    min-height: 155px;
}

@media (max-width: 768px) {
    .client-row .center-vertical {
        min-height: 0;
    }
}

.client-row .center-vertical .cimpress,
.client-row .center-vertical .blueliv {
    margin-top: 48px;
}

.client-row img {
    margin-bottom: 32px;
}

.client-row:nth-child(4) img {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .client-row img {
        margin-bottom: 32px;
    }

    .client-row .center-vertical .cimpress,
    .client-row .center-vertical .blueliv {
        margin-top: 0;
    }

    .client-row:nth-child(4) {
        margin-bottom: 0;
    }

    .client-row:last-child {
        margin-top: 0;
    }
}

.client-row img {
    max-height: none;
    max-width: none;
    opacity: 1;
}

.pentester-academy {
    margin-top: 13.5px;
}
