@charset "UTF-8";

/* Site custom styles */


.hero-section .fh5co-copy-inner h1 {
  color: black;
  text-align: center;
  font-size: 6em;
}

.hero-section .fh5co-copy-inner h2 {
  color: black;
  text-align: center;
  font-size: 2em;
}

.gallery-section .fh5co-item {
  border-style: none;
  background-size: inherit;
}