<!-- Agenda section -->
<div class="agenda-section spad">
    <div class="overlay"></div>
    <div class="container">
        <div id="agenda" class="section-title">
            <h2>Agenda</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><span>September 30th</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Track A</th>
                            <th>Track B</th>
                            <th>Track C</th>
                            <th>Track D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:00</td>
                            <td>Welcome Day 1</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Keynote</td>
                            <td>---</td>
                            <td>---</td>
                            <td>
                                <div class="presentation-title">Rooting out security risks lurking in your kubernetes ecosystem</div>
                                <div class="speakers">Vasant  Chinnipilli</div>
                            </td>
                        </tr>
                        <tr>
                            <td>16:15</td>
                            <td>
                                <div class="presentation-title">The Spy in Your Mobile</div>
                                <div class="speakers">Swaroop Yermalkar</div>
                            </td>
                            <td>
                                <div class="presentation-title">Cybersecurity & The Board: Choosing success over the Sarlacc Pit</div>
                                <div class="speakers">Brian Contos</div>
                            </td>
                            <td>
                                <div class="presentation-title">Whispers: identifying hardcoded secrets</div>
                                <div class="speakers">Artëm Tsvetkov</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>16:45</td>
                            <td>
                                <div class="presentation-title">The art of Securing Webviews and a story behind CVE-2021–21136</div>
                                <div class="speakers">Imdadullah Mohammed</div>
                            </td>
                            <td>
                                <div class="presentation-title">Centralized Monitoring and Detection system for security misconfigurations on AWS</div>
                                <div class="speakers">Divyanshu Mehta, Saransh Rana</div>
                            </td>
                            <td>
                                <div class="presentation-title">TLS Private Key Recovery</div>
                                <div class="speakers">Johan Loos</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="break">15 Min Break</td>
                        </tr>
                        <tr>
                            <td>17:45</td>
                            <td>
                                <div class="presentation-title">Does Serverless Means Harmless?</div>
                                <div class="speakers">Tal Melamed</div>
                            </td>
                            <td>
                                <div class="presentation-title">How to beat application DDoS attacks with CrowdSec & Cloudflare</div>
                                <div class="speakers">Philippe Humeau</div>
                            </td>
                            <td>
                                <div class="presentation-title">Atomistic Internet of Things (IoT) Penetration Testing Methodology</div>
                                <div class="speakers">Arnau Estebanell Castellví</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>18:35</td>
                            <td>
                                <div class="presentation-title">Chances and Challenges of Machine Learning in Cybersecurity</div>
                                <div class="speakers">Claudia Ully</div>
                            </td>
                            <td>
                                <div class="presentation-title">Using policy delay to gain RCE and to execute Ransomware to infection victim machine</div>
                                <div class="speakers">Filipi Pires</div>
                            </td>
                            <td>
                                <div class="presentation-title">Biohacker: The Invisible Threat</div>
                                <div class="speakers">Len Noe</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>19:25</td>
                            <td>Closing Day 1</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><span>October 1st</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Track A</th>
                            <th>Track B</th>
                            <th>Track C</th>
                            <th>Track D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15:00</td>
                            <td>Welcome Day 2</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>15:10</td>
                            <td>Round Table</td>
                            <td>---</td>
                            <td>---</td>
                            <td>
                                <div class="presentation-title">De-Google your Smartphone</div>
                                <div class="speakers">Kim Kip Trujillo</div>
                            </td>
                        </tr>
                        <tr>
                            <td>16:15</td>
                            <td>
                                <div class="presentation-title">To the docs and beyond!</div>
                                <div class="speakers">Debangshu Kundu</div>
                            </td>
                            <td>
                                <div class="presentation-title">Offensive Azure Security</div>
                                <div class="speakers">Sergey Chubarov</div>
                            </td>
                            <td>
                                <div class="presentation-title">Smart Home Devices: Assets or Liabilities?</div>
                                <div class="speakers">Jonah Bellemans</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>17:05</td>
                            <td>
                                <div class="presentation-title">Privacy and Safety of NB-IoT Devices</div>
                                <div class="speakers">Ali Abdollahi</div>
                            </td>
                            <td>
                                <div class="presentation-title">Kicks & chips: an investigation into scalper bots!</div>
                                <div class="speakers">Mathieu Gaucheler</div>
                            </td>
                            <td>
                                <div class="presentation-title">Red Teaming AWS: Practice What You Preach</div>
                                <div class="speakers">Josh Armitage</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="break">15 Min Break</td>
                        </tr>
                        <tr>
                            <td>17:45</td>
                            <td>
                                <div class="presentation-title">AI+CTI=(Open)UEBA - An Equation That Works</div>
                                <div class="speakers">Nil Ortiz Rabella</div>
                            </td>
                            <td>
                                <div class="presentation-title">Hacking Kubernetes 101</div>
                                <div class="speakers">Daniel Monzón</div>
                            </td>
                            <td>
                                <div class="presentation-title">The Clutter That's Choking AppSec</div>
                                <div class="speakers">Rahul Raghavan</div>
                            </td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>18:35</td>
                            <td>Closing Day 2</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
