<!-- Footer section -->
<footer class="footer-section">
  <h2>2019 All rights reserved. Designed by <a href="https://cyber.barcelona" target="_blank">Barcelona Cyber Security</a></h2>
</footer>
<!-- Footer section end -->

<!--====== Javascripts & Jquery ======-->
<script src="{{ '/static/js/jquery-2.1.4.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/bootstrap.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/magnific-popup.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/owl.carousel.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/circle-progress.min.js'|asseturl }}"></script>
<script src="{{ '/static/js/main.js'|asseturl }}"></script>
