<!-- About section -->
<div class="about-section">
  <div class="overlay"></div>
  <!-- card section -->
  <div class="card-section">
    <div class="container">
      <div class="row">
        {% set items = site.query('/intro').include_undiscoverable(true).order_by('title') %}
        {% for item in items %}
        <!-- single card -->
          <div class="col-md-4 col-sm-6">
            <div class="lab-card">
              <div class="icon">
                <i class="{{ item.icon }}"></i>
              </div>
              <h2>{{ item.title }}</h2>
              {{ item.body }}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <!-- card section end-->



</div>
<!-- About section end -->

<!-- Display the countdown timer in an element -->
