<!-- Services section -->
<div class="services-section spad">
  <div class="container">
    <div class="section-title dark left">
      <h2>Meet our <span>Sponsors</span></h2>
    </div>
    <div class="section-title dark left">
      <h3> <span>Leading</span> supporters</h3>
      <br />
    </div>
    <div class="row align-items-center">
      {% set items = site.query('/sponsors').filter(F.role == 'leading').include_undiscoverable(true) %}
      {% for item in items %}
      <!-- single service -->
        <div class="col-md-4 col-sm-6">
          <div class="service">
            <div class="icon">
              <a href="{{ item.web }}"><img src="{{ item.image|asseturl }}" alt="{{ item.title }}"/></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>
<!-- services section end -->
