<!-- Team Section -->
<div class="team-section spad">
  <div class="overlay"></div>
  <div class="container">
    <div class="section-title">
      <h2>The <span>BSides</span> team</h2>
    </div>
    <div class="row">
      {% set items = site.query('/team').include_undiscoverable(true) %}
      {% for item in items %}
      <!-- single member -->
        <div class="col-sm-3">
          <div class="member">
            <img src="{{ item.image|asseturl }}" alt="">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.role }}</h3>
            <h4>
              <a href="https://twitter.com/{{ item.twitter }}"><i class="fa fa-twitter"></i></a>
            </h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Team Section end-->
