<!-- Team Section -->
<div class="team-section spad">
  <div class="overlay"></div>
  <div class="container">
    <div class="section-title">
      <h2>The <span>BSides</span> team</h2>
    </div>
    <div class="row">
      {% set items = site.query('/team').include_undiscoverable(true) %}
      {% for item in items %}
      <!-- single member -->
        <div class="col-sm-3">
          <div class="member">
            <img src="{{ item.image|asseturl }}" alt="">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.role }}</h3>
            <div class="row justify-content-center">
              {% if item.twitter %}
                <h4 class="p-2"><a href="https://twitter.com/{{ item.twitter }}"><i class="fa fa-twitter"></i></a></h4>
              {% endif %}
              {% if item.web %}
                <h4 class="p-2"><a href="{{ item.web }}"><i class="fa fa-code"></i></a></h4>
              {% endif %}
              {% if item.github %}
          		  <h4 class="p-2"><a href="{{ item.github }}"><i class="fa fa-github"></i></a></h4>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Team Section end-->
