<!-- Promotion section -->
<div class="promotion-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Thrilled about it?</h2>
        <p>Support the event and the community at large by buying a ticket</p>
      </div>
      <div class="col-md-3">
        <div class="promo-btn-area">
          <a href="https://www.eventbrite.es/e/bsides-barcelona-2020-tickets-84031242709" class="site-btn btn-2">Get the Tickets!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Promotion section end-->
