<!-- Services section -->
<div class="services-section spad">
  <div class="container">
    <div class="section-title dark left">
      <h2>Where</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>Espai Pujades 350</h3>
        <p>Dinamic spaces at 22@ Barcelona. <a href="https://www.espaipujades350.com/en/">Read more</a>.</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.4388589218925!2d2.2071476518460624!3d41.407991179160504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a345d10d2c97%3A0x236dbc71d619b0e9!2sEspai%20Pujades%20350!5e0!3m2!1ses!2ses!4v1574762550661!5m2!1ses!2ses" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
<!-- services section end -->
